{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}
{% assign title_swatch =  title_swatch | handleize %}

{% if swatch == blank %}
  <div class="swatch error">
    <p>You must include the snippet swatch.liquid with the name of a product option.</p>
    <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  </div>
{% else %}

  {%- assign found_option = false -%}
  {%- assign is_color = false -%}
  {%- assign option_index = 0 -%}

  {%- for option in product.options -%}
    {% if option == swatch %}
      {% assign found_option = true %}
      {% assign option_index = forloop.index0 %}
      {% assign downcased_option = swatch | downcase %}

      {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'Color' %}
        {% assign is_color = true %}
      {% endif %}
    {% endif %}
  {%- endfor -%}

  {% unless found_option %}
    <div class="swatch error">
      <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
      <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
      <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
      <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
    </div>
  {% else %}
    {% if is_color %}
      <div class="header">
        {% assign size_option = '' %}
        {% for option in product.options_with_values %}
        {% if option.name == 'Size' %}
        {{}}
        {% assign size_option = option.values.size %}
        {% endif %}
        {% endfor %}
        <span>{{ current_variant.options[option_index] }}</span>
        <strong>{{ size_option }} Sizes</strong>
      </div>
    {% endif %}
  {% endunless %}
{% endif %}
