<div class="careers-head text-center">
  <div class="page-width">
    <h1 class="careers-head__title">{{ page.content }}</h1>
    {% if section.settings.button_label != blank %}
      <a href="#careers-roles" class="js-smooth-link btn btn--arrow">{{ section.settings.button_label }}</a>
    {% endif %}
  </div>
</div>


{% schema %}
{
  "name": "Careers page head",
  "class": "viewport-section",
  "settings": [
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    }
  ]
}
{% endschema %}

