<div class="yotpo yotpo-reviews-carousel"  data-header-customisation-enabled="1"  data-header-customisation-color="#000000"  data-header-customisation-font-size="23"  data-header-customisation-text="SEE WHAT CUSTOMERS ARE SAYING"  data-header-customisation-alignment="left"  data-background-color="transparent"  data-mode="manual"  data-type="both"  data-review-ids="480067300,480067302,480067278,484619357,480067295,482947956,482274412,481522700,481414017"  data-autoplay-enabled="1"  data-autoplay-speed="2500"  data-show-navigation="1">&nbsp;</div>


<style>
.headline {
    font-size: 32px!important;
    line-height: 40px!important;
    font-weight: 600!important;
    letter-spacing: -1.5px!important;
    text-align: center!important;
    margin: auto!important;
    width: 100%!important;
    display: block!important;
    padding-bottom: 30px!important;
  }
  

div.standard-layout div.big-version div.right-side div.stars-container span.carousel-review-date {
  line-height: 12px!important;
  text-align: right!important;
  display: inline-block!important;
  float: right!important;
  width: 50%!important;
  }

.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-stars {
    display: inline-block!important;
    width: 50%!important;
}


.product-name.carousel-review-product-text, .yotpo-label.yotpo-small-box {
    display: none!important;
  }

 div.standard-layout div.big-version div.right-side div.stars-container .yotpo-stars carousel-stars, 
  div.standard-layout div.big-version div.right-side div.stars-container .carousel-review-date {
    display: block!important;
    width: 100%!important;
  }
  
  .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel {
    border-bottom: none!important;
  }
  
  .carousel-review-title {
    font-weight: 500!important;
    font-size: 24px!important;
    margin: 10px 0px !important;
  }

  .yotpo.yotpo-reviews-carousel {
    max-width: 1600px!important;
    margin: 50px auto!important;
  }

  .yotpo-reviews-carousel .carousel-read-more {
    font-size: 12px!important;
    letter-spacing: 1.5px!important;
    text-transform: uppercase!important;
    border-bottom: 1px solid #000!important;
    font-weight: 500!important;
    margin: 10px 0px 20px 10px!important;
    text-align: center!important;
    float: right!important;
}

  #shopify-section-3a935ed4-f29a-4f6d-a8eb-0e17c56b9058 {
    border-bottom: 1px solid #000!important;
    margin-bottom: 60px;
  }
  
.carousel-top-panel .carousel-reviews-bottom-line span.yotpo-num-of-reviews {;
    text-align: right!important;
  }


  .carousel-review-author {
    font-weight: 500!important;
    margin-top: 40px!important;
    position: relative!important;
    bottom: 0px!important;
    display: block!important;
  }

    .carousel-review-author:before {
    content: "— ";
  }


  .yotpo-reviews-carousel .carousel-tool-tip .yotpo-tool-tip {
    background: #f6f4ee!important;
}
  
  .yotpo .yotpo-tool-tip {
    border: solid 1px #000!important;
    border-radius: 0px!important;
}
  

.yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .single-carousel .carousel-review-date {
    line-height: 12px!important;
    text-align: right!important;
    display: inline-block!important;
    float: right!important;
}

.yotpo-bottom-line-scroll-panel .yotpo-sr-bottom-line-summary div {
  align-items: right!important;
}
  
@media (min-width: 320px) and (max-width: 1024px) {
  
    .headline {
    font-size: 20px!important;
    padding-bottom: 0px!important;
    line-height: 22px!important;
    }
  
    #shopify-section-b96ac25c-eb01-4b7b-b346-1067e21470b5 {
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    }

  .collections-tabs__box {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
  
  .yotpo.yotpo-reviews-carousel {
    margin: 0px auto 60px auto!important;
}


  .yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .single-carousel .carousel-review-date {
    line-height: 12px!important;
    text-align: right!important;
    display: inline-block!important;
    float: right!important;
    }
  
  .yotpo-reviews-carousel .carousel-display-wrapper .yotpo-carousel .carousel-review-title {
      font-size: 20px!important;
  }

  .yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .carousel-arrows {
    position: absolute!important;
    bottom: 0px!important;
  }

.yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel .carousel-arrows {
    position: absolute!important;
    bottom: -20px!important;
    width: 100%!important;
    text-align: center!important;
    margin: -10px;
    padding-bottom: 0px;
}

  .collection-carousel__left .pagingInfo {
    margin-bottom: 30px!important;
  }

  yotpo-reviews-carousel .carousel-display-wrapper #carousel-top-panel {
    padding-top: 15px!important;
}

}
</style>


{% schema %}
{
"name": "YotPo Reviews Carousel",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Heading"
},
{
"type": "text",
"id": "link",
"label": "Link"
}
],
"presets": [
{
"name": "YotPo Reviews Carousel",
"category": "Product"
}
]
}
{% endschema %}