{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}
<div class="collections-list__box">
  <div class="page-width-1440">
    {% section 'collection-list' %}
  </div>
</div>
