<style>
  .page-width--page, main#MainContent, body {
  background-image: url("https://cdn.shopify.com/s/files/1/0566/6317/9463/files/Promo_Background.jpg?v=1680721513")!important;
  background-attachment: fixed!important;
  background-size: auto 100vh!important;
  background-repeat: no-repeat!important;
  background-position: center top!important;
}

  .page-width--page, main#MainContent {
    background-color: transparent!important;
  }

  .page-width--page {
    padding-bottom: 0px!important;
  }

  input {
    padding-left: 30px!important;
  }
  
  input::placeholder {
    text-transform: Capitalize!important;
  }
  
  @media only screen and (max-width: 480px) {
      input {
        padding-left: 20px!important;
      }
  }
</style>

<div class="page-width page-width--page">
  <div class="rte">
    {{ page.content }}
  </div>
</div>

