<div class="account-page">
  <div class="without-pad">
    <div class="account-page__flex">
      <div class="account-page__flex-left">
        {% section 'account-sidebar' %}
      </div>
      <div class="account-page__flex-right">
        
      </div>
    </div>  
  </div>
</div>

